* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --user-zoom-lens-width: 100px;
    --user-zoom-lens-height: 200px;
}

.img-zoom-container {
    position: relative;
}

.imgid {
    position: relative;
    width: fit-content;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: var(--user-zoom-lens-width);
    height: var(--user-zoom-lens-height);
    background: rgba(173, 173, 173, 0.308);
}

.img-zoom-result {
    background-size: 1200px 800px;
    border: 1px solid #d4d4d4;
    width: calc(var(--user-zoom-lens-width) * 2);
    height: calc(var(--user-zoom-lens-height) * 2);
}


#myimage {
    width: 100%;
}