html {
    height: 100vh;
}

body {
    background: #000;
    color: #86868b;
}

canvas {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    display: block;
}

.content {
    position: relative;
    padding: 20px;

    @media (min-width: 768px) {
        padding: 20px 60px;
    }

}

.content h1 {
    color: #f5f5fd;
    font-size: 42px;
}

.content p {
    line-height: 1.5;
}